name = "rust-image-worker"
compatibility_date = "2022-10-31"
main = "worker/worker.js"
account_id = "<YOUR_ACCOUNT_ID>"
workers_dev = true

[build]
command = "wasm-pack build --out-dir worker/wasm --target web --out-name index && rm worker/wasm/.gitignore && rm worker/wasm/README.md"
